<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
<link rel="stylesheet" href="{{ static('css/pure-min.css') }}">
<!--<link href='http://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>-->
<link rel="stylesheet" href="{{ static('css/base.css') }}">
<link rel="shortcut icon" href="{{ static('images/favicon.ico') }}">

{% block extra_head %}
{% endblock %}
</head>
<body>


<div class="content">
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            {% block home_link %}
            <a class="pure-menu-heading"
            {% if house %}
            href="{{ url('main:home', house.slug) }}" title="{{ house.name }}"
            {% else %}
            href="/"
            {% endif %}
            >{% block page_title %}I Love My House{% endblock %}</a>
            {% endblock %}

            <p style="float:right;margin-top:1px;margin-bottom:1px">
            {% if user.is_authenticated() %}
            <a href="{{ url('signin:account') }}">You are signed in as {{ user.email }}</a>
            {% else %}
            <a href="{{ url('signin:start') }}">Sign in/Register</a>
            {% endif %}
            </p>

            {% block navigation %}
	    <!--
            <ul>
                <li class="pure-menu-selected"><a href="/">Home</a></li>
                <li><a href="/pictures">Pictures</a></li>
                <li><a href="/documents">Documents</a></li>
            </ul>
	    -->
            {% endblock %}

        </div>
    </div>

    {% block content %}
    <div class="content">
    {% block content_inner %}{% endblock %}
    </div>
    {% endblock %}

    <div class="footer">
        Nothing in the footer yet.
    </div>
</div>


{% block jquery %}
<script src="{{ static('js/jquery-1.10.2.min.js') }}"></script>
{% endblock %}

{% block extra_javascript %}
{% endblock %}

</body>
</html>
